# {{ ansible_managed }}
<VirtualHost *:80>
  ServerName {{ netboot_server_name }}
  DocumentRoot /var/www/html

  <Directory /var/www/html>
    Options +FollowSymLinks
    Require all granted
  </Directory>

  ErrorLog /var/log/httpd/{{ netboot_server_name }}_error.log
  CustomLog /var/log/httpd/{{ netboot_server_name }}_access.log common
</VirtualHost>
