#!ipxe
# This file is managed by Ansible, your changes will be lost!

:netabout
menu About this Deployment Server
item exit Exit back to main menu...
item --gap --  --Helpdesk contact information-------------------------------------------
item about email: {{ netboot_server_help_email }}
item about phone: {{ netboot_server_help_phone }}
item --gap --  --System information-----------------------------------------------------
item --gap MAC:
item mac ${space} ${netX/mac}
item --gap IP/mask:
item ip ${space} ${netX/ip}/${netX/netmask}
item --gap Gateway:
item gw ${space} ${netX/gateway}
item --gap Domain:
item domain ${space} ${netX/domain}
item --gap DNS:
item dns ${space} ${netX/dns}
item --gap DHCP server:
item dhcpserver ${space} ${netX/dhcp-server}
item --gap Next-server:
item nextserver ${space} ${next-server}
isset ${proxydhcp/next-server} && item --gap DHCP proxy next-server: ||
isset ${proxydhcp/next-server} && item proxy-nextserver ${space} ${proxydhcp/next-server} ||
isset ${proxydhcp/next-server} && item --gap Booted from DHCP proxy next-server: ||
isset ${proxydhcp/next-server} && iseq ${proxydhcp/next-server} ${tftp-server} && item bootproxy ${space} Yes ||
item --gap Filename:
isset ${proxydhcp/next-server} && item filename ${space} ${proxydhcp/filename} || item filename ${space} ${netX/filename}
choose selected || goto exit
goto ${selected}

:about
clear menu
goto netabout

:exit
clear menu
exit
